.about-me-content {
border: 2px solid #ddd;
border-radius: 10px;
margin-left: 20px;
margin-right: 20px;
padding: 20px;
background-color: #f9f9f9;
font-size: 12px;
}

.about-me-content h2 {
    margin-top: 0;
    color: #555555;
}

.about-me-content p {
    margin-bottom: 0;
    text-align: left; /* Ensure text starts from the left */
    color: #333333;
}